<div class="container">
    <div class="jumbotron">
        <h1>Announcements:</h1>
        <h3 class="text-danger">ATTENTION WRITERS:
            In response to the coronavirus pandemic, the Writing Center will offer distance tutoring only until further
            notice.
            Some of the policies listed below have been adapted to account for this unique situation. Click here for
            detailed
            policies and procedures for distance tutoring. And be sure to review this information before your remote
            appointments. Thank you!
        </h3>
        <p>
            The Newton Community College Writing Center offers 45-minute individual conferences. Our discussion- and
            workshop-based tutoring approach enables writers of all levels to see their writing with fresh eyes and to
            practice
            a variety of strategies for writing, revising, and editing. We encourage writers to schedule appointments in
            advance, as we can only take walk-ins on a limited basis.
        </p>
        <p>
            Please bring a copy of your assignment instructions and a hard copy of your paper drafts to your
            appointment.
        </p>
        <p>
            The Writing Center uses an online appointment system called NCCOnline. We have worked with developers to
            ensure
            that
            NCCOnline is a user-friendly, robust sytem, customized specifically for the needs of Newton Community
            College
            students.
        </p>

        <p>
            Click here for instructions on how to create and activate a new NCCOnline account.
        </p>
        <p>
            NCCOnline Policies
            Writers may have only one NCCOnline account. Multiple NCCOnline accounts belonging to a single writer will
            be
            disabled.
            If you forget your password, please reset it; do not create another account. Deliberate violation of this
            policy
            could
            result in disciplinary action.
        </p>
        <p>
            Writers may only make appointments using their own NCCOnline account. Please do not use a friend’s NCCOnline
            account to
            set an appointment. Please do not share your NCCOnline password with anyone.
        </p>
        <p>
            Writers are not allowed to have more than one appointment per day or two appointments per week. A walk-in
            appointment
            counts as one appointment. Writers who disregard this policy will receive one written warning and then will
            be
            blocked
            from making appointments for the rest of the semester. Continued, deliberate violation of this policy could
            result in
            further disciplinary action.
        </p>
        <p>
            Writers must use NCCOnline to cancel their appointments at least three (3) hours in advance. Emailing the
            writing
            center, emailing your tutor, going to the writing center, or calling the writing center to ask someone to
            cancel
            your
            appointment for you are not acceptable cancellation methods. If you do not show for your appointment and you
            fail to
            cancel that appointment three or more hours before the start time, you will be considered a "no-show" for
            that
            appointment.
        </p>
        <p>
            No-shows. Writers are responsible for canceling their own appointments. If a writer fails to show up for a
            scheduled
            appointment and has not cancelled the appointment via NCCOnline, he/she will be counted as a "no-show."
            Writers
            who are
            more than 15 minutes late for an appointment will also be counted as no-shows. If a writer is a no-show two
            times,
            he/she will automatically be blocked from making appointments for the rest of the semester (and for the
            first
            month of
            the following semester if the offense occurs near the end of the semester). This policy will be strictly
            enforced.
        </p>
        <p>
            For a more thorough listing of all of Newton Community College Writing Center’s policies, please visit our
            policies
            page.
        </p>
    </div>
</div>