<div  class="container" >
  <h1>Sign In</h1>
  <p>Please enter your credentials.</p>
  <hr/>

  <label for="email"><b>Email</b></label>
    <input type="email" class="formControl" name="email" placeholder="Username" #userName required>

    <label for="psw"><b>Password</b></label>
    <input type="password" class="formControl" placeholder="Password" name="psw" #userPassword required>

  <!-- Calling SignIn Api from AuthService -->
    <button type="submit" (click)="authService.SignIn(userName.value, userPassword.value)">Log In</button>
<hr/> 

  <!-- Calling GoogleAuth Api from AuthService -->
  <div class="formGroup">
    <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
      <i class="fa fa-google fa-fw"></i>
      Log in with Google
    </button>
  </div>

  <div class="forgotPassword">
    <span routerLink="/password-reset">Forgot Password?</span>
  </div>

  <div class="redirectToLogin">
    <span>Don't have an account?<a class="redirect" routerLink="/signup"> Sign Up</a></span>
  </div>

</div>