<div class="mt-5 pt-5 pb-5 footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2>Newton Community College</h2>
                <p class="pr-5 text-white-50">This is a student project from Kennesaw State University.</p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0">
                    <li>
                        <a href="www.kennesaw.edu
                        ">KSU</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p>1000 Chastain Rd NW, Kennesaw, GA 30144</p>
                <p class="mb-0"><i class="fa fa-phone mr-3"></i>(444) 444-4444</p>
                <p><i class="fa fa-envelope-o mr-3"></i>info@NewtonCommunityCollege.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>