<!-- appointment.component.html   -->

<div *ngIf="!(authService.isLoggedIn)" class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">

            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">User Profile</h1>
            </div>
            <h3 class="d-flex justify-content-center text-info">Please Sign In To View Profile</h3>
        </div>
    </main>
</div>


<div *ngIf="(authService.isLoggedIn)" class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active">
                            <i class="fa fa-user"></i> User Profile
                        </a>
                    </li>
                    <!-- Calling SignOut() Api from AuthService -->
                    <li class="nav-item">
                        <a class="nav-link" (click)="authService.SignOut()">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-danger" (click)="authService.DeleteAccount()">
                            <i class="fa fa-trash"></i> Delete Account
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">

                <div class="pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">User Profile</h1>
                </div>
                <!-- Show user data when logged in -->
                <div class="row" *ngIf="authService.userData as user">
                    <div class="col-md-12">
                        <div class="media">
                            <img class="align-self-start mr-5 img-thumbnail rounded-circle" width="200px"
                                src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                                alt="{{user.displayName}}">
                            <div class="media-body">
                                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}} </strong> <a
                                        href="#"><i class="fa fa-edit"></i></a></h1>
                                <p>User ID: <strong>{{user.uid}}</strong></p>
                                <p>Email: <strong>{{user.email}}</strong></p>
                                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pt-5 pb-5">
                    <div class="col-md-12">
                        <h3>Available tutors for
                            <!-- <u>{{selectedDay}}</u> -->
                            <select class="form-control custom-control-inline" [(ngModel)]="selectedDay">
                                <option *ngFor="let day of availableDays" [ngValue]="day">{{day}}</option>
                            </select>
                        </h3>
                        <ul *ngFor="let f of faculty | async">
                            <li *ngIf="f.workDay === selectedDay">
                                <p><b style="color: {{facultyColor}};">{{f.FirstName}} {{f.LastName}}</b> is available
                                    from
                                    <b>{{f.clockIn}} to {{f.clockOut}}</b>.
                                <p>
                            </li>
                        </ul>
                    </div>
                </div>

                <ejs-schedule [currentView]='defaultView'></ejs-schedule>
            </div>
        </main>
    </div>
</div>